<%- include ./partials/header.ejs %>
<%- include ./partials/main_nav.ejs %>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %> page</p>
    <a href="/cars/add" class="btn btn-primary btn-lg me-2"> add new car</a>
<%- include ./partials/footer.ejs %>
