<%- include ./partials/header.ejs %>
<%- include ./partials/main_nav.ejs %>

    <main class="index-center">
        <div class="index-inner">
            <h1><%= title %></h1>
            <p>Welcome to <%= title %> a simple and efficient web-based inventory management system designed for small car dealerships. This application allows you to easily add, view, update, and remove vehicles from your stock in one organized and secure location. Whether you’re keeping track of pricing, mileage, model details, or vehicle condition, Auto Tracker helps streamline your workflow and ensures your inventory is always up to date. Navigate through the system using the menu above to begin managing your dealership’s listings.</p>
            <a href="/cars/add" class="btn btn-primary btn-lg me-2">Add New Car</a> <!-- hero button for home page-->
        </div>
    </main>

<%- include ./partials/footer.ejs %>
